

body{
    margin:0;

    color: white;
}

header{
    background-color:#3DE07E;
    color: black;
    
}


main {
    background-color: black;
    /* color: white; */

    
}
article{
    /* width: 100px;  */
    /*TODO: How set width dynamically? */
    height: 30vh;
    width:15vh;
    padding: 2rem;
    /* border: dotted white; */

    
}
article img{
    height: 15vh;
    
}

article button{
    background-color: #E83F57;
    
}





footer{
    background-color: #333333;

   
}

footer section{
    padding: 1rem;
}