
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #3DE07E;
    color: black;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: repeat(2,1fr);
}
header h1{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 3em;
}
header img{
    grid-column-start: 2;
}

main{
    background-color: black;
    padding: 5vh 20vh;
}

main .small{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, min-content); */
    /* grid-template-rows: repeat(5, 1fr); */
}
.small article {
    /* width: min-content; */
    padding: 1rem;
}
.small article img {
    width: 20vw;
}

main .large{
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-areas: large auto large;
}
.large article{
    /* width: 30vw; */
    background-color: white;
    color: black;
    padding: 1rem;

}
.large article img{
    width: 30vw;
    /* min-width: fit-content; */
    padding: 0;
    margin:0
}
.large article h2, p, button{
    padding: 0.5rem;
    padding-top: 1rem;
}

article button {
    background-color: #E83F57;
}


footer {
    background-color: #333333;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*Not necessary, just for practising grid area*/
    grid-template-areas: " . nav address social " ;
}

footer .nav{
    grid-area: nav;
}
footer .address{
    grid-area: address;
}
footer .social{
    grid-area: social;
}

footer section {
    padding: 1rem;
}
footer section p{
    margin:0;
    padding: 0;
}


/* footer .social + img:hover{
    color: black;
    transform: (1,3);
} */

/* Styles for screens with a maximum width of 800px */
@media screen and (max-width: 800px) {

    article{
        width:min-content;
    }
}